<div class="jumbotron text-center">
  <h1>LAB Reservation System</h1>
  <p class="lead">Welcome to UCSC Lab Reservation System</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  
</div>

<div *ngIf="lablist" class="row mt-3">
  <div class="card col-md-4 mt-2" *ngFor="let x of lablist">
    <h4 class="card-header mdb-color lighten-1 rgba-white-light">{{x.labname}} </h4>
    <div class="card-body">
        <h5 class="card-title"> {{x.location}}</h5>
       <div class="row"> 
         <div class="col-md-6">
            <button [routerLink] = "['/addreservation']" type="button" class="btn btn-primary btn-sm btn-outline-default waves-effect">Reserve Lab </button>
         </div>
         <div class="col-md-6">
            <button (click)="showSearch(x.labname)" type="button" class="btn btn-primary btn-sm btn-outline-default waves-effect">View More </button>
         </div>     
      </div>
    </div>
  </div>
  
  </div>

  <div class="row">
  
  </div>